table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  table thead {
    background-color: #001529;
    color: #fff;
    font-size: 1rem;
  }
  
  table thead tr th {
    padding: 1rem;
  }
  
  table tbody tr td {
    padding: 1rem;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #e5e5e5;
  }